@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">Welcome to Peter Parker's pizza delivery</h1>
        <h2 class="mainSubTitle"> Order delicious lovely pizza exclusively delivered by Peter Parker.</h2>
    </div>
    <img class="mainImage" src="~/Images/PizzaTime.jpg" />
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">Order Pizza</a>
</div>
