@page
@model RazorPizzaWebsite.Pages.PizzaModel
@{
}


<div>
    <h1 class="display-5" align="center"> Feel free to choose from the variety of pizzas.</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row customPizza">
                    <div class="col-4">
                        <img src="~/Images/Pizzas/Create.png" class="w-100" />
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle customPizzaText">
                            <h3 style="text-align:left;"> Create your own pizza</h3>
                            <p style="text-align: left;"> Make you own pizza with the PizzaMaker!</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Forms/CustomPizza">Make your pizza</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @{
            var imagePathPrefix = "~/images/Pizzas/";
        }
        <div class="row">
            @foreach (var pizza in Model.fakePizzaDB)
            {
                var imagePath = imagePathPrefix + pizza.ImageTitle + ".png";

                <div class="col-4 mb-5 mt-5 pizzaSelector">
                    <div class="row w-100">
                        <img src="@Url.Content(imagePath)" class="w-100" asp-apend-version="true" />
                    </div>
                    <div class="row w-100 mt-1 mb-1">
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-md w-75" asp-area="" asp-page="Checkout/Checkout"
                            asp-route-ImageTitle="@pizza.ImageTitle" 
                            asp-route-PizzaPrice="@pizza.finalPrice">Try Me!</a>
                        <!-- This routing allows us to link something in the html code-->
                        <!-- When we use this asp-route-  it takes the following link as passes the value of the model. 
                        So in the URl we will see that to the checkout page, the value of the  ImageTitle and final price is sent to the checkout page -->
                        </div>

                    </div>
                </div>
            }
        </div>
        

    </div>
</div>